name: Build and test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

# Permissions for the GITHUB_TOKEN.
permissions: {}

jobs:
  build_test:
    name: Call build and test action
    permissions:
      contents: read # The contents: read is not necessary for a public repository but it is necessary for the reusable workflow.
    uses: andrew-field/reusable-workflows/.github/workflows/build-test.yml@master

    # Codecov secret used by the build-test action. CODECOV_TOKEN (Use global token) needs to be added as a secret.
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
