name: Bump go mod version

on:
  schedule:
    - cron: "40 0 1 * *"

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

# Permissions for the GITHUB_TOKEN.
permissions: {}

jobs:
  bump_go_mod_version:
    name: Call bump go mod version action
    uses: andrew-field/reusable-workflows/.github/workflows/bump-go-mod-version.yml@master

    secrets: inherit # Needs to inherit more than the GITHUB_TOKEN to trigger Github Actions CI checks. APP_ID and APP_PRIVATE_KEY (for the github app) needs to be added as a secret.
